body {
    padding-left: 50px;
    padding-right: 50px;
    background-color: darkgrey;
}


h1 {
    font-family: verdana, arial, sans-serif;
    font-size: 3em;
    line-height: 2em;
    color: midnightblue;
    padding-left: 300px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}



h2 {
    font-size: 2em;
    line-height: 2em;
    color: midnightblue;
    padding-left: 20px;
}

h3 {
    font-size: 2em;
    line-height: 2em;
    color: midnightblue;
    padding-left: 20px;
    ;
}

p {
    font-family: verdana, arial, sans-serif;
    font-size: 1.3 em;
    color: purple;
    padding-left: 20px;

}

ul {
    padding-left: 100px;
}

li {
    font-family: verdana, arial, sans-serif;
    . font-size: 1.3 em;
    color: purple;

}

#wrapper {
    background-color: aliceblue;
    min-width: 600px;
    max-width: 1400px;
    box-shadow: 5px 10px #fff;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

footer {

    background-color: mintcream;
    font-size: .60 em;
    font-style: italic;
    text-align: center;
    padding-bottom: 10px;
    border-top: 2px solid;
    border-top-color: aliceblue
}
